@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
:root {
  --purple: #35007c;
  --lightpurple: #a39ff1;
  --gray: #e5e4fcce;
}

body {
  background-image: url("../images/bg-signin.jpg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  
}

.container {
    width: 350px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(7px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px 40px;

}

h1{
  
  text-align: center;
  margin-bottom: 20px;
  color: var(--lightpurple)
}

.label-float{
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.label-float input{
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  color: white;
  border-bottom: 2px solid var(--lightpurple);
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all .3s ease-out;
  border-radius: 0;
  
}

.label-float input:focus{
  border-bottom: 2px solid white;
}

.label-float label{
  color: var(--lightpurple);
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label{
  font-size: 13px;
  margin-top: 0;
  color: white;
}
.label-float i {

  position: absolute;
  right: 20px;
  top: 50%;
  transform:  translateY(-50%);
  font-size: 20px;
  color: var(--lightpurple);

}
button{
  background-color: var(--purple);
  border-color: var(--purple);
  color: var(--lightpurple);
  width: 50%;
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
}

button:hover{
  background-color: var(--lightpurple);
  color: var(--purple);
  border-color: var(--lightpurple);
}

.justify-center{
  display: flex;
  justify-content: center;
}

hr{
  margin-top: 10%;
  margin-bottom: 10%;
  width: 60%;
}

p{
  color: var(--lightpurple);
  font-size: 14pt;
  text-align: center;
}

a{
  color: rgba(100, 35, 255, 0.865);
  font-weight: bold;
  text-decoration: none;
  transition: all .3s ease-out;
}

a:hover{
  color: white;
}

 #msgError{
  text-align: center;
  color: #ff0000;
  background-color: #fdcfcf;
  padding: 10px;
  border-radius: 4px;
  display: none;
}